.DS_Store
.go-version
.nvimlog
debug.log
tags*
moc*
editor/version.txt
editor/objcbridge.h
editor/objcbridge.m
cmd/goneovim/goneovim
cmd/goneovim/debug
cmd/goneovim/deploy/*
cmd/goneovim/deploy*
cmd/goneovim/windows/*
cmd/goneovim/rcc*
cmd/goneovim/.nvimlog
cmd/goneovim/__debug_bin
cmd/goneovim/__debug_bin*
cmd/goneovim/debug.log
vendor/
nvim_issue/
version.txt
